[Unit]
Description=WG Manager client session %i

[Service]
Type=notify
NotifyAccess=all

User=wg-client
Group=wg-client

Environment="PYTHONPATH=/usr/lib/wg-manager"
Environment="WG_CLIENT_CONFIG=/etc/wg-manager/wg-client.conf"

ExecStart=/usr/bin/flock /run/wg-manager/wg-client.lock -c "/usr/bin/python3 /usr/lib/wg-manager/src/wg_client/wg_client.py"

StandardInput=socket
StandardOutput=journal
StandardError=journal

NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=strict
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
SystemCallArchitectures=native
CapabilityBoundingSet=
AmbientCapabilities=
RemoveIPC=yes

UMask=0077
